# Documentation des variables générées. Ne pas mettre de secret réel ici.
COMPOSE_PROJECT_NAME=@@CLIENT_ID@@
CLIENT_ID=@@CLIENT_ID@@
RESTAURANT_SLUG=@@RESTAURANT_SLUG@@
TENANT_PATH=@@TENANT_PATH@@
BASE_DOMAIN=@@BASE_DOMAIN@@
EDGE_NETWORK=@@EDGE_NETWORK@@
TIMEZONE=@@TIMEZONE@@
POSTGRES_IMAGE=@@POSTGRES_IMAGE@@
POSTGRES_DB=@@POSTGRES_DB@@
POSTGRES_USER=@@POSTGRES_USER@@
POSTGRES_PASSWORD=__GENERATED_SECRET__
N8N_IMAGE=@@N8N_IMAGE@@
N8N_LOG_LEVEL=@@N8N_LOG_LEVEL@@
N8N_ENCRYPTION_KEY=__GENERATED_SECRET__

