# Managed by saas_factory for @@CLIENT_ID@@
# Ce snippet doit être importé depuis le bloc du domaine partagé.

redir /@@TENANT_PATH@@ /@@TENANT_PATH@@/ 308

handle /@@TENANT_PATH@@/* {
    reverse_proxy @@N8N_CONTAINER@@:5678
}

